footer{
    display: flex!important;
    justify-content: space-around;
    border-top: 1px solid white;
    align-items: center;
    padding: 5px!important;
    min-height: 250px ;
    width: 100%; 
    background-color: #6048a3bb;
}

footer div:nth-child(2) img{
    width: 2em;
    padding: .4em;
    margin: .2em;
    background-color: whitesmoke;
}


footer a{
    color: white;
    font-weight: 0.5em;
    text-decoration: none !important;
}
a:hover {
    color: hotpink !important;
}


.container__items__footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


.linksFooter {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.container__icons__social{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 60%;
}

.all__reserved{
    text-align: center;
    background-color: #1a0752c0;
    padding: 1em;
}

#root > div.all__reserved > span{
    margin-top: 2em;
    font-size: .8em;
    color: whitesmoke;
    text-align: center;
}

.hr{
    border-top: 1px solid rgb(56, 56, 56);
    margin-bottom: 1em;
}
.seguir {
    width: 30%;
}
.seguir p {
    font-size: 100%;
    color: white;
    text-align: center;
}

/* RESPONSIVE */
@media(max-width:1500px) {
    .footer {
        height: 10vh;
    }
    .brandDiv, .seguir, .linksFooter {
        width: 30%;
    }
    .container__items__footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .seguir p {
        display: none;
    }
    
    
}