.banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: palevioletred;
    width: 100%;
}

.logoBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 13%; /*Linea modificada como sugerencia por Fabi*/
}

.iconsHeader {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    width: 30%;
}
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    }

p {
font-size: 5vh;
}

.motto {
    width: 50vw;
    height: 20vh;
    margin-top:35vh;
    background-image: url('../assets/motto.png');
    background-position: center;
    background-size: cover; 
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: purple;
    width: 100%;
    height: 80vh;
    background-image: url('../assets/aest1.jpg');
    background-position: center;
    background-size: cover; 
}

.clothCard {
    width: 100%;
    height: 100%;
    border-radius: 1%;
}

.clothCardLink {
    background-color: rgb(214, 139, 204);
    width: 18%;
    height: 80%;
    border-radius: 1%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main h1 p {
    font-size: 200;
}

.sectionsDiv {
    margin-top:14vh ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.boxes {
    width:30%;
    height: 90%;
    background-color: lightseagreen;
}

.info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    background-color: #bd9bd1ce;
    box-shadow: -5px 5px rgba(65, 40, 65, 0.37);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
<<<<<<< HEAD
=======
.info p {
    font-size: 3vh;
    text-shadow: -3px 3px rgba(65, 40, 65, 0.26);
}

>>>>>>> ab676711bb28f96e913385fc65d34de5d04771f6
.bannerFrase {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 15%;
    background-color: #6048a3b9;
    color: mintcream;
}

.bannerFrase p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 300;
    text-shadow: 8px 8px #ae97eb85;
}

.superSaleBanner {
    background-color: #93c2d1;
    width: 90%;
    height: 75%;
    margin-top: 2%;
}
.jeansBox {
    height: 100%;
    width: 50%;
}
.rs-drawer-content{
    background-color: rgba(255, 255, 255, 0.952)!important;
    width: 25vw!important;
}
.rs-drawer-content h4{
    font-size: 1.5rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    color: black !important
}

.banner{
    background-color:  #ff7fff6b;;
    margin-top:-12vh!important;
    
}

.rs-btn-toolbar{
border:1px solid rgba(0, 0, 0, 0.178);  
border-radius: 1vh;   
}
.linksHeader{
    display: flex;
    color: black;
}
.linksHeader div{
padding: 1vh;
}

/* CARRUSEL */
.divCarru {
    height: 100%;
}

  /* ---------------------------RESPONSIVE-------------------------------------------------------------*/
  @media(max-width: 1400px){
    .containerCarousel{
      height: 70vh;
    }
  }
   @media(max-width: 1200px){
    .containerCarousel{
      height: 70vh;
    }
  }
   @media(max-width: 1000px){
    .containerCarousel{
      height: 40vh;
    }
  }
  
   @media(max-width: 800px){
    .containerProductsStore {
      width: 50vw;
    }

    .containerCarousel{
      height: 40vh;
    }
   }

  @media(max-width: 700px){
    .banner {
        display: none;
        }   

    .motto {
        width: 60vw;
        height: 10vh;
        background-image: url('../assets/motto.png');
        background-position: center;
        background-size: cover; 
    }
    .title {
        font-size: 1rem;
    }
    .allCards {
        width: 99%;
        height: 40%;
    }
    .bannerFrase {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        height: 10%;
        background-color: #6048a3b9;
        color: mintcream;
        margin-bottom: 4vh;
        margin-top: 8vh;
    }
    .bannerFrase p {
        font-size: 1rem;    
    }
    .superSaleBanner {
        background-color: #93c2d1;
        width: 98%;
        height: 38%;   
    }

    .boxes {
        margin-top: 10vh!important;
        width:90%;
        height: 100%; 
        background-color: lightseagreen;
        margin: 0.2vh;
    }

   
    .info {
        width: 98%;
        height: 15%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        background-color: #bd9bd1ce;
        border: 1px solid grey;
    }
  
    .jeansBox {
        height: 90%;
        width: 50%;
    }
    .info p{
    font-size: 1rem;
    text-align: center;
    }
    .rs-drawer-content h4{
        font-size: 1rem;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .rs-drawer-content h6{
        font-size: 0.8rem;
    }
    .rs-drawer-title{
    font-size: 0.2rem;
    }
    .rs-drawer-content{
        width: 55vw!important;
    }
    .rs-drawer-title{
        font-size: 0.8rem!important;
    }
    .sectionsDiv {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 98%;
        /* height: 98%; */
    }
    .clothCard {
        width: 18%;
        height: 60%;
        border-radius: 2%;
    }
    .main2{
       margin-top: 20vh;
    }
    .bannerFrase{
        margin-top:40vh;
    }
    .main{
        margin-top: -10vh;
    }
}
