* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  #root {
    width: 100%;
    height: 100vh;    
    --primary-color: #6048a3;
    --secondary-color: #FF7FFF;
    --background-color: #FFFF;
    --terciary-color: #3f7fe9;
    --active-color: #6CC8FC;
  }

/* CSS GENERALES  */
.centerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayFlex {
  display: flex;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAround {
  display: flex;
  justify-content: space-around;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.justifyFlexEnd {
  display: flex;
  justify-content: flex-end;
  position: relative;
  
}

.uppercase {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}
  body {
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
  }

  p {
    font-family: 'Archivo', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
  }
