* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  #root {
    width: 100%;
    height: 100vh;
  }
  body {
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
  }

  p {
    /* font-family: 'Archivo', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-size: 10vh;
  }