* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  #root {
    width: 100%;
    height: 100vh;    
    --primary-color: #6048a3;
    --secondary-color: #FF7FFF;
    --background-color: #FFFF;
    --terciary-color: #3f7fe9;
    --active-color: #6CC8FC;
  }
  body {
    width: auto;
    height: auto;
    font-family: 'Roboto', sans-serif;
  }

  p {
    font-family: 'Archivo', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
  }
